* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    table-layout: fixed;
}

/* header */
header {
    line-height: 35px;
    color: white;
    text-shadow: 2px 2px 4px black;
    height: 150px;
    padding-left: 20vw;
    padding-top: 50px;
    background-image: url(./img/pattern.png);
    background-size: 20vw;
    background-color: rgb(107, 146, 159);
}

#header-article {
    padding-left: 50px;
    font-size: 50px;
}

#header-title {
    font-size: 80px;
}

/* main */
main,
footer {
    background-color: white;
    padding-left: 20vw;
    padding-right: 20vw;
}

.title .main-title {
    font-size: 80px;
}

.title .main-subtitle,
.title .date {
    font-size: 35px;
    color: grey;
}

.title .date{
    font-size: 25px;
}


/* lista */

.title,
.articolo p,
.articolo ul,
.articolo table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.articolo ul {
    list-style-position: inside;
}

/* tabella */

thead {
    background-color: rgba(0, 0, 255, 0.596);
}

tr #c1 #c2 {
    width: 25%;
}

tr #c3 {
    width: 50%;
}

tbody tr:nth-child(2n+1) {
    background: rgba(41, 152, 172, 0.486);
}


tbody tr:nth-child(2n) {
    background: #e4e4e4;
}


/* footer */

footer * {
padding-bottom: 10px;
}

footer .footer-title{
    color: grey;
    font-size: 20px;
}

footer figure {
    position: relative;
    height: 250px;
    width: 250px;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    color: #FFF;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 0;
}